<!DOCTYPE html>

<html>
	<head>
		<title>Freeze it</title>
		<style>
		
			.Table_Edit, 
			{
			border-collapse:collapse;
			
			
			}
			
			
			.error_message_red
			{
			color:red;
			}
			
			body
			{
			font:15px arial,sans-serif;
			}
			#writing_area
			{
			font:15px arial,sans-serif;
			}
			
			h1
			{
			margin-left: 5px;
			color:#0066FF;
			}
			
			div
			{
			margin:10px 5px 4px 4px;
			color:#00BFFF;
			}
			
		</style>
		
		<!-- Load jQuery UI CSS  -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<!-- Load jQuery JS -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<!-- Load jQuery UI Main JS  -->
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>		
		<script>
			$(function() {
			$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
			});
		</script>
	</head>
	

	<body>
		<h1>{{headline}}</h1>
		{% if item_id != "" %}
			<table class="Table_Edit" style="width:250px; table-layout:fixed;">
				<tr>
					<th class="tr_Edit" style="font-size:10px; text-align:left; color:#00BFFF; width:72%;">
						<i>Full Food description</i>
					</th>
					<th class="tr_Edit" style="font-size:10px; text-align:left; color:#00BFFF; width:28%;">
						<i>Date added (dd-mm-yyyy)</i>
					</th>
				</tr>
				<tr>
					<td class="tr_Edit" style="font-size:10px; word-wrap:break-word; padding-right:10px; color:#999999">
						<i>{{food_description_content}}</i>
					</td>
					<td class="tr_Edit" style="font-size:10px; vertical-align:top; color:#999999">
						<i>{{created_date}}</i>
					</td>
				</tr>
				
			</table>
		{% endif %}
		
		<form method="post">
			
			<label>
				<div>Food description *</div> <input type="text" name="food_description" value="{{food_description_content}}">
				
				<span class="error_message_red">{{food_description_error}}</span>
			</label>
			<br>
			<br>
			
			<label>
				<div>Note (e.g. 300 g)</div> <input type="text" name="note" value="{{note_content}}" style="width:220px;">
				<span class="error_message_red">{{note_error}}</span>
			</label>
			<br>
			<br>
			<label>
			
			<label>
				<div>Expiry date (dd-mm-yyyy)</div>
				<input type="text" id="datepicker" name="expiry_date" value="{{exp_content}}">
				<span class="error_message_red">{{date_error}}</span>
				
			</label>
			<br>
			<br>
			
			<input type="submit" value="{{change_button}}">
			
			<input type="button" value="{{passive_button}}" onclick="location.href='/'">
			
			<input type="hidden" name="item_ID" value={{item_id}}></input>
			

			
			
		</form>
	</body>

</html>