<!DOCTYPE html>

<html>
	<head>
		<title>Freeze it</title>
		<style>
			.error_message_red
			{
			color:red;
			}
			
			body
			{
			font:15px arial,sans-serif;
			}
			#writing_area
			{
			font:15px arial,sans-serif;
			}
			
			h1
			{
			margin-left: 5px;
			color:#0066FF;
			
			
			}
			
			div
			{
			margin:10px 5px 4px 4px;
			color:#00BFFF;
			
			}
			
		</style>
		
		<!-- Load jQuery UI CSS  -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<!-- Load jQuery JS -->
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<!-- Load jQuery UI Main JS  -->
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>		
		<script>
			$(function() {
			$( "#datepicker" ).datepicker();
			});
		</script>
	</head>
	

	<body>
		<h1>{{headline}}</h1>
		
		<form method="post">
			
			<label>
				<div>Food description</div> <input type="text" name="food_description" value="{{food_description_content}}">
				
				
				
				
				<span class="error_message_red">{{food_description_error}}</span>
			</label>
			<br>
			<br>
			
			<label>
				<div>Measuring unit</div>
				<select name="q">
					{% for unit in list_of_units %}
						{% if unit == selectedUnit %}
							<option selected>{{unit}}</option>
						{% else %}
							<option>{{unit}}</option>							
						{% endif %}
					{% endfor %}
				</select>
				<span class="error_message_red">{{measure_unit_error}}</span>
			</label>
			
			<br>
			<br>
			<label>
				<div>Amount</div> <input type="text" name="amount" value="{{amount_content}}">
				<span class="error_message_red">{{amount_error}}</span>
			</label>
			<br>
			<br>
			<label>
				<div>Expiry date</div>
				<input type="text" id="datepicker" name="expiry_date" value="{{exp_content}}">
				<span class="error_message_red">{{date_error}}</span>
				
			</label>
			<br>
			<br>
			
			<input type="submit" value="{{change_button}}">
			
			<input type="button" value="{{passive_button}}" onclick="location.href='/'">
			
			<input type="hidden" name="item_ID" value={{item_id}}></input>
			

			
			
		</form>
	</body>

</html>